* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Courier New', Courier, monospace;
}


.page_header {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    border: .25rem solid black;
}

 
.title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 90px;
    letter-spacing: .25rem;
    color:white;
}

.title_2 {
    position: absolute;
    top: 1800px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 90px;
    letter-spacing: .25rem;
    color:white;
}

.portrait_title{
    position: absolute;
    left:12%;
    top:850px;
    font-size: 50px;
    letter-spacing: .25rem;  
    color:white;
}

.aritechture_title{
    position: absolute;
    left: 55%;
    top: 850px;
    font-size: 50px;
    letter-spacing: .25rem;
    color:white;
}


.landscape_container {
    padding: 2rem;
    text-align: center;
}

.portrait_container {
    display: flex;
    justify-content: space-evenly;
}


.img-container {
    width: 97.5%;
    height: 80vh;
    object-fit: cover;
    position: relative;
    border-radius: 40px;
    filter: grayscale(100%);
}

.img-container_portrait {
    position: relative;
    width: 45%;
    height: 100vh;
    object-fit: cover;
    border-radius: 40px;
    filter: grayscale(100%);
}

.img-container:hover {
    transform: scale(1.02);
    filter: none;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.img-container_portrait:hover {
    transform: scale(1.02);
    filter: none;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}